body{
    color: white;
    font-family:Arial;
    background-color: #3D3D3D;
}

.head-logo{
    background-image: url(/img/Burger-logo-redo.png);
    background-size: auto;
}
.foot-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foot{
    background-color: black;
    height: 8vh;
}

.line-up{
    padding-left: 2vw;
}
.line-up > li{
    display: inline-block;
    font-weight: bolder;
    font-size: 1.6vw;
    padding-right: 4vw;
    padding-top: 4.5vh;
}

.head-logo{ 
    height: 8vh;
    padding-left: 5vw;
    padding-top: 1vh;
}

.hero{
    background-image: url(/img/burger-img-hero.jpg);
    background-size: cover;
    height: 80vw;
}

.desktop-hide{
    display: none;
}

.hamburger{
    text-align: right;
    font-size: 3vh;
    padding-top: 2.5vh;
    padding-right: 5vw;
}

.mobile-margin{
    padding: 0vw 10vw;
}
.slogan{
    font-weight: bolder;
    text-align: center;
    padding-top: 5vh;
    color: white;
    font-size: 3.6vw;
    padding-bottom: 2vh;
    border-bottom: 2px solid #BC2B32;
}

.menu-img{
    margin-top: 10vw;
    padding: 6vw;
    border: 2px solid #BC2B32;
}

.big-head{
    font-weight: bolder;
    text-align: center;
    padding-top: 5vh;
    color: white;
    font-size: 5vw;
    padding-bottom: 2vh;
    border-bottom: 2px solid #BC2B32;
    margin: 0vw 15vw;
    margin-bottom: 4vh;
}
.small-grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15vw;
}

.days{
    text-align: center;
}
.hour-space{
    line-height: 7vw;
}

.small-head{
    font-weight: bolder;
    text-align: center;
    padding-top: 5vh;
    color: white;
    font-size: 4vw;
    padding-bottom: 1vh;
    border-bottom: 2px solid #BC2B32;
    margin:0vw 7.5vw;
    margin-bottom: 4vh;
}
.icon-edit{
    grid-gap: 0vw
}

.icons > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    height: 15vw;
    margin-bottom: 2vh ;

}

.contact{
    text-align: center;
    color: white;
    font-size: 4vw;
    padding-bottom: 1vh;
    margin:0vw 7.5vw;
    margin-bottom: 4vh;  
}
.contact-head{
    font-weight: bolder;
    padding-bottom: 1vh;
}
.contact-num{
    font-style: italic;
}

.addy{
    font-size: 5vw;
}

.top-up{
    font-size: 3vw;
}
.copyright{
    background-color: black;
    text-align: center;
    padding-bottom: 1vh;
    font-size: 2.5vw;
    font-style: italic;
}
.foot-pad{
    margin-bottom: 5vh;
}
/* <p>  
                <ul>
                    <li>ITEM</li>
                    <li>ITEM</li>
                    <li>ITEM</li>
                    <li>ITEM</li>
                    <li>ITEM</li>
                    <li>ITEM</li>
                    <li>ITEM</li>
                    <li>ITEM</li>
                    <li>ITEM</li>
                    <li>ITEM</li>
                </ul>

                <div>
                    <ul>
                        <li>ITEM</li>
                        <li>ITEM</li>
                        <li>ITEM</li>
                        <li>ITEM</li>
                        <li>ITEM</li>
                    </ul>

                    <ul>
                        <li>ITEM</li>
                        <li>ITEM</li>
                        <li>ITEM</li>
                        <li>ITEM</li>
                        <li>ITEM</li>
                    </ul>
                </div>
            </p>
*/
















@media only screen and (min-width: 900px) {
    /* Header*/

.head-logo{
    background-image: url(/img/Burger-logo-redo.png);
    background-size: auto;
}
.foot-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foot{
    background-color: black;
    height: 12vh;
}

.line-up{
    padding-left: 2vw;
}
.line-up > li{
    display: inline-block;
    font-weight: bolder;
    font-size: 1.6vw;
    padding-right: 4vw;
    padding-top: 4.5vh;
}

.head-logo{ 
    height: 12vh;
    padding-left: 12vw;
}

.hero{
    background-image: url(/img/burger-img-hero.jpg);
    background-size: cover;
    height: 46vw;
    background-position-y: -30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger{
    display: none;
}
.desktop-hide{
    display: block;
}
.desktop-margin{
    padding: 4vw 10vw;
}
.block-size{
    position: relative;
    background-color:#3D3D3D;
    height: 25vh;
    width: 55vw;
}
.slogan{
    font-weight: bolder;
    text-align: center;
    margin: 0vh 7vw;
    padding-top: 5vh;
    color: white;
    font-size: 2.5vw;
    padding-bottom: 2vh;
    border-bottom: 4px solid #BC2B32;
}

/* Main */
.splice{
    padding-top: 8vh;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 5vw;
}
.mobile-hide{
    display: none;
}
.mobile-margin{
    padding: 0vw 0vw;
}
.menu-img{
    margin-top:0vw;
    padding: 2vw;
    border: 2px solid #BC2B32;
}
.menu-img > img{
    width: 50vw;
}
.fb-style{
    display: inline-block;
    text-align: center;
}
}




